.message {
  border-radius: 5px;
  color: green;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.errorMessage {
  border-radius: 5px;
  color: red;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
